name: Java CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/checkout@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build the project
        run: mvn -B clean install

      - name: Run test
        run: mvn test
